In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_excel("../resources/train.xlsx")

In [3]:
df

,ID,edad,trabajo,estado_civil,educacion,deuda,saldo,vivienda,prestamo,tipo_contacto,duracion,fecha_contacto,campaign,tiempo_transcurrido,contactos_anteriores,resultado_campanas_anteriores,target
0,1,40,blue-collar,casado,secundaria/superiores,no,580,si,no,NaN,192,2021-05-16 00:00:00,1,-1,0,NaN,no
1,2,47,services,soltero,secundaria/superiores,no,3644,no,no,NaN,83,2021-06-09 00:00:00,2,-1,0,NaN,no
2,3,25,student,soltero,universitarios,no,538,si,no,movil,226,20-apr-2021,1,-1,0,NaN,no
3,4,42,management,casado,universitarios,no,1773,no,no,movil,311,9-apr-2021,1,336,1,sin_exito,no
4,5,56,management,casado,universitarios,no,217,no,si,movil,121,2021-07-21 00:00:00,2,-1,0,NaN,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44251,44252,38,management,casado,secundaria/superiores,no,-323,si,no,NaN,250,2021-06-09 00:00:00,1,-1,0,NaN,no
44252,44253,49,technician,casado,secundaria/superiores,no,1982,si,si,movil,73,22-aug-2021,15,-1,0,NaN,no
44253,44254,51,blue-collar,casado,secundaria/superiores,no,794,si,no,fijo,747,2021-07-24 00:00:00,1,-1,0,NaN,no
44254,44255,29,blue-collar,soltero,universitarios,no,98,no,no,movil,170,10-aug-2021,2,-1,0,NaN,no
44255,44256,32,technician,soltero,secundaria/superiores,no,321,si,no,movil,156,11-aug-2021,2,-1,0,NaN,no

In [4]:
df.drop("ID", axis=1, inplace=True)

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
edad,44256.0,40.934856,10.626296,18.0,33.0,39.0,48.00,95.0
saldo,44256.0,1361.455509,3053.362628,-8019.0,72.0,447.0,1424.25,102127.0
duracion,44256.0,258.320906,257.668451,0.0,103.0,180.0,319.00,4918.0
campaign,44256.0,2.761004,3.093201,1.0,1.0,2.0,3.00,63.0
tiempo_transcurrido,44256.0,40.259739,100.127699,-1.0,-1.0,-1.0,-1.00,871.0
contactos_anteriores,44256.0,0.581593,2.314184,0.0,0.0,0.0,0.00,275.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44256 entries, 0 to 44255
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   edad                           44256 non-null  int64
 1   trabajo                        44256 non-null  object
 2   estado_civil                   44256 non-null  object
 3   educacion                      42446 non-null  object
 4   deuda                          44256 non-null  object
 5   saldo                          44256 non-null  int64
 6   vivienda                       44256 non-null  object
 7   prestamo                       44256 non-null  object
 8   tipo_contacto                  31526 non-null  object
 9   duracion                       44256 non-null  int64
 10  fecha_contacto                 44256 non-null  object
 11  campaign                       44256 non-null  int64
 12  tiempo_transcurrido            44256 non-null  int64
 13  contactos_anteriores           44256 non-null  int64
 14  resultado_campanas_anteriores  8093 non-null   object
 15  target                         44256 non-null  object
dtypes: int64(6), object(10)
memory usage: 5.4+ MB

In [7]:
df["trabajo"].value_counts()

blue-collar      9519
management       9263
technician       7436
admin.           5076
services         4056
retired          2217
self-employed    1548
entrepreneur     1450
unemployed       1274
housemaid        1215
student           922
unknown           280
Name: trabajo, dtype: int64

In [8]:
df.isnull().sum()/len(df)*100

edad                              0.000000
trabajo                           0.000000
estado_civil                      0.000000
educacion                         4.089841
deuda                             0.000000
saldo                             0.000000
vivienda                          0.000000
prestamo                          0.000000
tipo_contacto                    28.764461
duracion                          0.000000
fecha_contacto                    0.000000
campaign                          0.000000
tiempo_transcurrido               0.000000
contactos_anteriores              0.000000
resultado_campanas_anteriores    81.713214
target                            0.000000
dtype: float64

In [9]:
df["resultado_campanas_anteriores"].fillna("nuevo_cliente", inplace=True)

In [10]:
df_test = df[["edad", "trabajo", "tipo_contacto", "duracion", "tiempo_transcurrido"]]

In [11]:
df_test[~df_test["tipo_contacto"].notna()][:60]

     edad        trabajo tipo_contacto  duracion  tiempo_transcurrido
0      40    blue-collar           NaN       192                   -1
1      47       services           NaN        83                   -1
9      38     technician           NaN       587                   -1
12     30    blue-collar           NaN       395                   -1
18     46    blue-collar           NaN       172                   -1
23     44    blue-collar           NaN       111                   -1
25     33       services           NaN       109                   -1
28     60     technician           NaN        64                   -1
29     51    blue-collar           NaN        76                   -1
36     46    blue-collar           NaN       145                   -1
38     36   entrepreneur           NaN       139                   -1
45     51         admin.           NaN       136                   -1
46     27     technician           NaN        23                   -1
47     49     technician           NaN       152                   -1
49     36       services           NaN       505                   -1
54     28    blue-collar           NaN       176                   -1
57     39      housemaid           NaN       113                   -1
59     60        unknown           NaN       459                   -1
61     33    blue-collar           NaN       131                   -1
63     31    blue-collar           NaN       182                   -1
64     38     management           NaN       515                   -1
66     24        student           NaN       204                   -1
71     44         admin.           NaN       106                   -1
74     60    blue-collar           NaN       285                   -1
76     50     unemployed           NaN       247                   -1
80     33        unknown           NaN       198                   -1
81     37     technician           NaN       530                   -1
82     53      housemaid           NaN       701                   -1
88     35  self-employed           NaN      1865                   -1
89     43       services           NaN        78                   -1
93     27         admin.           NaN        67                   -1
96     49         admin.           NaN        99                   -1
99     33         admin.           NaN       132                   -1
101    27         admin.           NaN       418                   -1
102    40        retired           NaN       123                   -1
104    47    blue-collar           NaN       261                   -1
105    40    blue-collar           NaN        87                   -1
108    47         admin.           NaN       164                   -1
115    45         admin.           NaN       539                   -1
124    57         admin.           NaN        47                   -1
125    51    blue-collar           NaN       130                   -1
134    41         admin.           NaN       245                   -1
135    30     technician           NaN       967                   -1
142    34    blue-collar           NaN      1064                   -1
143    40      housemaid           NaN       230                   -1
148    53     management           NaN        73                   -1
149    32    blue-collar           NaN       700                   -1
153    38     management           NaN         8                   -1
159    37   entrepreneur           NaN       220                   -1
161    32         admin.           NaN       255                   -1
165    53         admin.           NaN       169                   -1
168    50    blue-collar           NaN       165                   -1
175    38       services           NaN       411                   -1
177    42     management           NaN       136                   -1
179    26    blue-collar           NaN       146                   -1
181    31     management           NaN        76                   -1
185    37     management           NaN        50                   -1
192    60      housemaid           NaN       174                   -1
193    31     technician           NaN       374                   -1
206    41         admin.           NaN       124                   -1

In [12]:
df["educacion"].value_counts()

secundaria/superiores    22713
universitarios           13025
priamaria                 6708
Name: educacion, dtype: int64

In [13]:
df["target"].replace("no", 0, inplace=True)
df["target"].replace("si", 1, inplace=True)

In [14]:
df["target"].value_counts()

0    39069
1     5187
Name: target, dtype: int64

In [15]:
5187*100/(39069+5187)

11.720444685466378

In [16]:
df["tipo_contacto"].fillna("desconocido", inplace=True)

In [17]:
df_1 = df[df["target"]==1]

In [18]:
df_0 = df[df["target"]==0]

In [19]:
df_1["tipo_contacto"].value_counts()

movil          4285
desconocido     522
fijo            380
Name: tipo_contacto, dtype: int64

In [20]:
522*100/(380+4285+522)

10.063620589936379

In [21]:
df_0["tipo_contacto"].value_counts()

movil          24400
desconocido    12208
fijo            2461
Name: tipo_contacto, dtype: int64

In [22]:
12208*100/(2461+24400+12208)

31.2472804525327

In [23]:
522*100/(522+12208)

4.100549882168107

In [24]:
df[(df["trabajo"]=="services")  & (df["target"]==0)].shape

(3699, 16)

In [25]:
df[(df["trabajo"]=="services")  & (df["target"]==1)].shape

(357, 16)

In [26]:
196*100/(196+1078)

15.384615384615385

In [27]:
1272*100/(1272+7991)

13.73205225089064

In [28]:
357*100/(357+3699)

8.801775147928995

In [29]:
# Vamos a dejarlo así, y vamos a convertir esta columna a numerica con LabelEncoder

from sklearn.preprocessing import LabelEncoder

# Inicializamos un objeto LabelEncoder()
trabajo_labelEncoding = LabelEncoder()

# Lo "entrenamos" con los datos de la columna
trabajo_labelEncoding.fit(df["trabajo"].values)

# Transformamos la columna
trabajo = trabajo_labelEncoding.transform(df["trabajo"].values)

trabajo

array([1, 7, 8, ..., 1, 1, 9])

In [30]:
df["trabajo"] = trabajo

In [31]:
df[:60]

,edad,trabajo,estado_civil,educacion,deuda,saldo,vivienda,prestamo,tipo_contacto,duracion,fecha_contacto,campaign,tiempo_transcurrido,contactos_anteriores,resultado_campanas_anteriores,target
0,40,1,casado,secundaria/superiores,no,580,si,no,desconocido,192,2021-05-16 00:00:00,1,-1,0,nuevo_cliente,0
1,47,7,soltero,secundaria/superiores,no,3644,no,no,desconocido,83,2021-06-09 00:00:00,2,-1,0,nuevo_cliente,0
2,25,8,soltero,universitarios,no,538,si,no,movil,226,20-apr-2021,1,-1,0,nuevo_cliente,0
3,42,4,casado,universitarios,no,1773,no,no,movil,311,9-apr-2021,1,336,1,sin_exito,0
4,56,4,casado,universitarios,no,217,no,si,movil,121,2021-07-21 00:00:00,2,-1,0,nuevo_cliente,0
5,28,1,casado,secundaria/superiores,no,1134,no,no,movil,130,2021-02-09 00:00:00,3,-1,0,nuevo_cliente,0
6,24,4,soltero,universitarios,no,1085,no,si,movil,95,2021-05-07 00:00:00,6,-1,0,nuevo_cliente,0
7,37,0,soltero,secundaria/superiores,no,127,no,no,movil,83,2021-03-23 00:00:00,4,-1,0,nuevo_cliente,0
8,30,1,soltero,secundaria/superiores,no,3,si,no,movil,51,2021-07-25 00:00:00,1,-1,0,nuevo_cliente,0
9,38,9,soltero,secundaria/superiores,no,258,no,si,desconocido,587,2021-06-20 00:00:00,2,-1,0,nuevo_cliente,0
10,33,1,soltero,secundaria/superiores,no,498,no,no,movil,301,30-apr-2021,1,-1,0,nuevo_cliente,1
11,48,1,divorciado,secundaria/superiores,no,65,si,no,movil,146,2021-05-14 00:00:00,1,370,1,sin_exito,0
12,30,1,soltero,secundaria/superiores,no,18,no,no,desconocido,395,2021-05-09 00:00:00,1,-1,0,nuevo_cliente,0
13,31,4,divorciado,universitarios,no,883,si,no,movil,112,2021-03-05 00:00:00,2,106,1,sin_exito,1
14,30,4,soltero,universitarios,no,640,no,no,movil,124,2021-02-06 00:00:00,4,213,2,sin_exito,0
15,30,4,soltero,universitarios,no,536,no,no,movil,244,2021-10-15 00:00:00,1,105,1,exito,1
16,35,1,casado,secundaria/superiores,no,247,si,si,movil,114,2021-05-13 00:00:00,1,352,5,sin_exito,0
17,31,4,soltero,universitarios,no,518,si,no,movil,399,2021-05-18 00:00:00,1,-1,0,nuevo_cliente,0
18,46,1,casado,secundaria/superiores,no,0,si,no,desconocido,172,2021-05-23 00:00:00,3,-1,0,nuevo_cliente,0
19,33,4,soltero,universitarios,no,5437,no,no,movil,267,2021-05-04 00:00:00,1,91,1,sin_exito,1
20,49,6,divorciado,secundaria/superiores,no,-478,si,si,movil,291,2021-11-20 00:00:00,1,-1,0,nuevo_cliente,0
21,35,4,casado,universitarios,no,991,si,no,movil,1489,2021-05-06 00:00:00,3,-1,0,nuevo_cliente,1
22,43,1,casado,secundaria/superiores,no,-755,si,si,movil,162,2021-05-05 00:00:00,1,337,1,sin_exito,0
23,44,1,divorciado,secundaria/superiores,no,-239,si,no,desconocido,111,2021-05-27 00:00:00,3,-1,0,nuevo_cliente,0
24,33,2,soltero,universitarios,no,3017,no,no,movil,240,2021-11-21 00:00:00,3,-1,0,nuevo_cliente,0
25,33,7,casado,secundaria/superiores,no,184,si,no,desconocido,109,2021-05-13 00:00:00,4,-1,0,nuevo_cliente,0
26,23,8,soltero,secundaria/superiores,no,431,no,no,movil,496,13-aug-2021,2,-1,0,nuevo_cliente,1
27,47,1,casado,priamaria,no,699,no,no,movil,203,5-aug-2021,1,-1,0,nuevo_cliente,0
28,60,9,casado,secundaria/superiores,no,914,no,no,desconocido,64,4-aug-2021,1,-1,0,nuevo_cliente,0
29,51,1,casado,universitarios,no,7816,si,no,desconocido,76,2021-05-12 00:00:00,2,-1,0,nuevo_cliente,0
30,56,5,casado,secundaria/superiores,no,728,no,no,movil,163,2021-11-18 00:00:00,2,110,15,sin_exito,0
31,59,4,casado,NaN,no,3428,si,si,movil,103,2021-11-19 00:00:00,1,-1,0,nuevo_cliente,0
32,49,4,casado,universitarios,no,223,no,no,movil,22,28-aug-2021,22,-1,0,nuevo_cliente,0
33,49,0,casado,secundaria/superiores,no,2254,no,no,movil,77,5-aug-2021,1,-1,0,nuevo_cliente,0
34,56,9,casado,secundaria/superiores,no,589,si,no,movil,208,2021-11-18 00:00:00,1,26,3,exito,0
35,38,9,casado,secundaria/superiores,no,79,si,no,movil,209,20-aug-2021,2,-1,0,nuevo_cliente,0
36,46,1,casado,secundaria/superiores,no,78,si,si,desconocido,145,2021-05-07 00:00:00,1,-1,0,nuevo_cliente,0
37,58,9,soltero,secundaria/superiores,no,409,no,si,movil,643,2021-07-14 00:00:00,2,-1,0,nuevo_cliente,0
38,36,2,casado,secundaria/superiores,no,352,si,no,desconocido,139,2021-05-21 00:00:00,2,-1,0,nuevo_cliente,0
39,29,1,casado,secundaria/superiores,no,-312,si,si,movil,130,2021-05-14 00:00:00,2,-1,0,nuevo_cliente,0
40,39,1,casado,secundaria/superiores,no,1044,si,no,movil,158,2021-02-02 00:00:00,1,-1,0,nuevo_cliente,0
41,36,4,soltero,universitarios,no,227,no,si,movil,336,7-aug-2021,4,-1,0,nuevo_cliente,0
42,37,0,casado,secundaria/superiores,no,1967,no,no,fijo,376,2021-10-27 00:00:00,1,-1,0,nuevo_cliente,1
43,44,2,casado,priamaria,no,650,si,no,movil,142,2021-05-06 00:00:00,2,-1,0,nuevo_cliente,0
44,34,1,casado,priamaria,no,1309,si,no,movil,456,2021-05-12 00:00:00,2,364,1,sin_exito,0
45,51,0,divorciado,secundaria/superiores,no,115,si,si,desconocido,136,2021-05-08 00:00:00,1,-1,0,nuevo_cliente,0
46,27,9,soltero,secundaria/superiores,no,337,no,no,desconocido,23,2021-07-09 00:00:00,1,-1,0,nuevo_cliente,1
47,49,9,divorciado,universitarios,no,874,si,no,desconocido,152,2021-05-16 00:00:00,2,-1,0,nuevo_cliente,0
48,65,5,casado,NaN,no,679,no,no,movil,593,2021-05-13 00:00:00,2,178,1,exito,0
49,36,7,casado,secundaria/superiores,no,8114,si,no,desconocido,505,2021-06-06 00:00:00,1,-1,0,nuevo_cliente,0
50,32,4,soltero,secundaria/superiores,no,453,si,no,movil,544,2021-02-02 00:00:00,1,269,2,sin_exito,0
51,56,4,casado,universitarios,no,0,si,no,fijo,259,2021-05-05 00:00:00,2,-1,0,nuevo_cliente,0
52,28,1,casado,secundaria/superiores,no,258,si,no,movil,134,2021-07-24 00:00:00,1,-1,0,nuevo_cliente,0
53,59,4,casado,universitarios,no,2540,no,no,movil,1432,2021-07-16 00:00:00,5,-1,0,nuevo_cliente,0
54,28,1,casado,secundaria/superiores,no,196,si,no,desconocido,176,2021-06-26 00:00:00,7,-1,0,nuevo_cliente,0
55,33,10,soltero,universitarios,no,14889,si,no,movil,22,2021-02-03 00:00:00,3,-1,0,nuevo_cliente,0
56,44,4,casado,universitarios,no,0,no,no,movil,54,2021-07-08 00:00:00,2,-1,0,nuevo_cliente,0
57,39,3,soltero,priamaria,no,1340,no,no,desconocido,113,2021-06-18 00:00:00,2,-1,0,nuevo_cliente,0
58,33,4,casado,universitarios,no,1323,no,no,movil,327,2021-06-01 00:00:00,1,-1,0,nuevo_cliente,1
59,60,11,casado,priamaria,no,4722,no,no,desconocido,459,2021-06-20 00:00:00,3,-1,0,nuevo_cliente,0

In [32]:
df["contactado"] = df["tiempo_transcurrido"]

In [33]:
df["contactado"] = df["contactado"].apply(lambda x: 0 if x == -1 else 1)

In [34]:
df["tiempo_transcurrido"].replace(-1, 0, inplace=True)

In [35]:
df

,edad,trabajo,estado_civil,educacion,deuda,saldo,vivienda,prestamo,tipo_contacto,duracion,fecha_contacto,campaign,tiempo_transcurrido,contactos_anteriores,resultado_campanas_anteriores,target,contactado
0,40,1,casado,secundaria/superiores,no,580,si,no,desconocido,192,2021-05-16 00:00:00,1,0,0,nuevo_cliente,0,0
1,47,7,soltero,secundaria/superiores,no,3644,no,no,desconocido,83,2021-06-09 00:00:00,2,0,0,nuevo_cliente,0,0
2,25,8,soltero,universitarios,no,538,si,no,movil,226,20-apr-2021,1,0,0,nuevo_cliente,0,0
3,42,4,casado,universitarios,no,1773,no,no,movil,311,9-apr-2021,1,336,1,sin_exito,0,1
4,56,4,casado,universitarios,no,217,no,si,movil,121,2021-07-21 00:00:00,2,0,0,nuevo_cliente,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44251,38,4,casado,secundaria/superiores,no,-323,si,no,desconocido,250,2021-06-09 00:00:00,1,0,0,nuevo_cliente,0,0
44252,49,9,casado,secundaria/superiores,no,1982,si,si,movil,73,22-aug-2021,15,0,0,nuevo_cliente,0,0
44253,51,1,casado,secundaria/superiores,no,794,si,no,fijo,747,2021-07-24 00:00:00,1,0,0,nuevo_cliente,0,0
44254,29,1,soltero,universitarios,no,98,no,no,movil,170,10-aug-2021,2,0,0,nuevo_cliente,0,0
44255,32,9,soltero,secundaria/superiores,no,321,si,no,movil,156,11-aug-2021,2,0,0,nuevo_cliente,0,0

In [36]:
df.columns

Index(['edad', 'trabajo', 'estado_civil', 'educacion', 'deuda', 'saldo',
       'vivienda', 'prestamo', 'tipo_contacto', 'duracion', 'fecha_contacto',
       'campaign', 'tiempo_transcurrido', 'contactos_anteriores',
       'resultado_campanas_anteriores', 'target', 'contactado'],
      dtype='object')

In [37]:
df_estado_civil = pd.get_dummies(df["estado_civil"])

In [38]:
df_contacto = pd.get_dummies(df["tipo_contacto"])

In [39]:
df_campanas_anteriores = pd.get_dummies(df["resultado_campanas_anteriores"])

In [40]:
df["deuda"].replace("no", 0, inplace=True)
df["deuda"].replace("si", 1, inplace=True)

In [41]:
df["vivienda"].replace("no", 0, inplace=True)
df["vivienda"].replace("si", 1, inplace=True)

In [42]:
df["prestamo"].replace("no", 0, inplace=True)
df["prestamo"].replace("si", 1, inplace=True)

In [43]:
df.columns

Index(['edad', 'trabajo', 'estado_civil', 'educacion', 'deuda', 'saldo',
       'vivienda', 'prestamo', 'tipo_contacto', 'duracion', 'fecha_contacto',
       'campaign', 'tiempo_transcurrido', 'contactos_anteriores',
       'resultado_campanas_anteriores', 'target', 'contactado'],
      dtype='object')

In [44]:
import datetime

df["fecha_contacto"] = df["fecha_contacto"].apply(lambda x : int(x.timestamp()) if type(x) == datetime.datetime else int(datetime.datetime.strptime(x, '%d-%b-%Y').timestamp()))

In [45]:
df[:60]

,edad,trabajo,estado_civil,educacion,deuda,saldo,vivienda,prestamo,tipo_contacto,duracion,fecha_contacto,campaign,tiempo_transcurrido,contactos_anteriores,resultado_campanas_anteriores,target,contactado
0,40,1,casado,secundaria/superiores,0,580,1,0,desconocido,192,1621116000,1,0,0,nuevo_cliente,0,0
1,47,7,soltero,secundaria/superiores,0,3644,0,0,desconocido,83,1623189600,2,0,0,nuevo_cliente,0,0
2,25,8,soltero,universitarios,0,538,1,0,movil,226,1618869600,1,0,0,nuevo_cliente,0,0
3,42,4,casado,universitarios,0,1773,0,0,movil,311,1617919200,1,336,1,sin_exito,0,1
4,56,4,casado,universitarios,0,217,0,1,movil,121,1626818400,2,0,0,nuevo_cliente,0,0
5,28,1,casado,secundaria/superiores,0,1134,0,0,movil,130,1612825200,3,0,0,nuevo_cliente,0,0
6,24,4,soltero,universitarios,0,1085,0,1,movil,95,1620338400,6,0,0,nuevo_cliente,0,0
7,37,0,soltero,secundaria/superiores,0,127,0,0,movil,83,1616454000,4,0,0,nuevo_cliente,0,0
8,30,1,soltero,secundaria/superiores,0,3,1,0,movil,51,1627164000,1,0,0,nuevo_cliente,0,0
9,38,9,soltero,secundaria/superiores,0,258,0,1,desconocido,587,1624140000,2,0,0,nuevo_cliente,0,0
10,33,1,soltero,secundaria/superiores,0,498,0,0,movil,301,1619733600,1,0,0,nuevo_cliente,1,0
11,48,1,divorciado,secundaria/superiores,0,65,1,0,movil,146,1620943200,1,370,1,sin_exito,0,1
12,30,1,soltero,secundaria/superiores,0,18,0,0,desconocido,395,1620511200,1,0,0,nuevo_cliente,0,0
13,31,4,divorciado,universitarios,0,883,1,0,movil,112,1614898800,2,106,1,sin_exito,1,1
14,30,4,soltero,universitarios,0,640,0,0,movil,124,1612566000,4,213,2,sin_exito,0,1
15,30,4,soltero,universitarios,0,536,0,0,movil,244,1634248800,1,105,1,exito,1,1
16,35,1,casado,secundaria/superiores,0,247,1,1,movil,114,1620856800,1,352,5,sin_exito,0,1
17,31,4,soltero,universitarios,0,518,1,0,movil,399,1621288800,1,0,0,nuevo_cliente,0,0
18,46,1,casado,secundaria/superiores,0,0,1,0,desconocido,172,1621720800,3,0,0,nuevo_cliente,0,0
19,33,4,soltero,universitarios,0,5437,0,0,movil,267,1620079200,1,91,1,sin_exito,1,1
20,49,6,divorciado,secundaria/superiores,0,-478,1,1,movil,291,1637362800,1,0,0,nuevo_cliente,0,0
21,35,4,casado,universitarios,0,991,1,0,movil,1489,1620252000,3,0,0,nuevo_cliente,1,0
22,43,1,casado,secundaria/superiores,0,-755,1,1,movil,162,1620165600,1,337,1,sin_exito,0,1
23,44,1,divorciado,secundaria/superiores,0,-239,1,0,desconocido,111,1622066400,3,0,0,nuevo_cliente,0,0
24,33,2,soltero,universitarios,0,3017,0,0,movil,240,1637449200,3,0,0,nuevo_cliente,0,0
25,33,7,casado,secundaria/superiores,0,184,1,0,desconocido,109,1620856800,4,0,0,nuevo_cliente,0,0
26,23,8,soltero,secundaria/superiores,0,431,0,0,movil,496,1628805600,2,0,0,nuevo_cliente,1,0
27,47,1,casado,priamaria,0,699,0,0,movil,203,1628114400,1,0,0,nuevo_cliente,0,0
28,60,9,casado,secundaria/superiores,0,914,0,0,desconocido,64,1628028000,1,0,0,nuevo_cliente,0,0
29,51,1,casado,universitarios,0,7816,1,0,desconocido,76,1620770400,2,0,0,nuevo_cliente,0,0
30,56,5,casado,secundaria/superiores,0,728,0,0,movil,163,1637190000,2,110,15,sin_exito,0,1
31,59,4,casado,NaN,0,3428,1,1,movil,103,1637276400,1,0,0,nuevo_cliente,0,0
32,49,4,casado,universitarios,0,223,0,0,movil,22,1630101600,22,0,0,nuevo_cliente,0,0
33,49,0,casado,secundaria/superiores,0,2254,0,0,movil,77,1628114400,1,0,0,nuevo_cliente,0,0
34,56,9,casado,secundaria/superiores,0,589,1,0,movil,208,1637190000,1,26,3,exito,0,1
35,38,9,casado,secundaria/superiores,0,79,1,0,movil,209,1629410400,2,0,0,nuevo_cliente,0,0
36,46,1,casado,secundaria/superiores,0,78,1,1,desconocido,145,1620338400,1,0,0,nuevo_cliente,0,0
37,58,9,soltero,secundaria/superiores,0,409,0,1,movil,643,1626213600,2,0,0,nuevo_cliente,0,0
38,36,2,casado,secundaria/superiores,0,352,1,0,desconocido,139,1621548000,2,0,0,nuevo_cliente,0,0
39,29,1,casado,secundaria/superiores,0,-312,1,1,movil,130,1620943200,2,0,0,nuevo_cliente,0,0
40,39,1,casado,secundaria/superiores,0,1044,1,0,movil,158,1612220400,1,0,0,nuevo_cliente,0,0
41,36,4,soltero,universitarios,0,227,0,1,movil,336,1628287200,4,0,0,nuevo_cliente,0,0
42,37,0,casado,secundaria/superiores,0,1967,0,0,fijo,376,1635285600,1,0,0,nuevo_cliente,1,0
43,44,2,casado,priamaria,0,650,1,0,movil,142,1620252000,2,0,0,nuevo_cliente,0,0
44,34,1,casado,priamaria,0,1309,1,0,movil,456,1620770400,2,364,1,sin_exito,0,1
45,51,0,divorciado,secundaria/superiores,0,115,1,1,desconocido,136,1620424800,1,0,0,nuevo_cliente,0,0
46,27,9,soltero,secundaria/superiores,0,337,0,0,desconocido,23,1625781600,1,0,0,nuevo_cliente,1,0
47,49,9,divorciado,universitarios,0,874,1,0,desconocido,152,1621116000,2,0,0,nuevo_cliente,0,0
48,65,5,casado,NaN,0,679,0,0,movil,593,1620856800,2,178,1,exito,0,1
49,36,7,casado,secundaria/superiores,0,8114,1,0,desconocido,505,1622930400,1,0,0,nuevo_cliente,0,0
50,32,4,soltero,secundaria/superiores,0,453,1,0,movil,544,1612220400,1,269,2,sin_exito,0,1
51,56,4,casado,universitarios,0,0,1,0,fijo,259,1620165600,2,0,0,nuevo_cliente,0,0
52,28,1,casado,secundaria/superiores,0,258,1,0,movil,134,1627077600,1,0,0,nuevo_cliente,0,0
53,59,4,casado,universitarios,0,2540,0,0,movil,1432,1626386400,5,0,0,nuevo_cliente,0,0
54,28,1,casado,secundaria/superiores,0,196,1,0,desconocido,176,1624658400,7,0,0,nuevo_cliente,0,0
55,33,10,soltero,universitarios,0,14889,1,0,movil,22,1612306800,3,0,0,nuevo_cliente,0,0
56,44,4,casado,universitarios,0,0,0,0,movil,54,1625695200,2,0,0,nuevo_cliente,0,0
57,39,3,soltero,priamaria,0,1340,0,0,desconocido,113,1623967200,2,0,0,nuevo_cliente,0,0
58,33,4,casado,universitarios,0,1323,0,0,movil,327,1622498400,1,0,0,nuevo_cliente,1,0
59,60,11,casado,priamaria,0,4722,0,0,desconocido,459,1624140000,3,0,0,nuevo_cliente,0,0

In [46]:
df = pd.concat([df, df_contacto], axis=1)
df = pd.concat([df, df_contacto], axis=1)
df = pd.concat([df, df_campanas_anteriores], axis=1)

In [47]:
df.drop(columns=["estado_civil", "tipo_contacto", "resultado_campanas_anteriores"], inplace=True)

In [48]:
df.shape

(44256, 24)

In [49]:
df

,edad,trabajo,educacion,deuda,saldo,vivienda,prestamo,duracion,fecha_contacto,campaign,...,desconocido,fijo,movil,desconocido,fijo,movil,exito,nuevo_cliente,otro,sin_exito
0,40,1,secundaria/superiores,0,580,1,0,192,1621116000,1,...,1,0,0,1,0,0,0,1,0,0
1,47,7,secundaria/superiores,0,3644,0,0,83,1623189600,2,...,1,0,0,1,0,0,0,1,0,0
2,25,8,universitarios,0,538,1,0,226,1618869600,1,...,0,0,1,0,0,1,0,1,0,0
3,42,4,universitarios,0,1773,0,0,311,1617919200,1,...,0,0,1,0,0,1,0,0,0,1
4,56,4,universitarios,0,217,0,1,121,1626818400,2,...,0,0,1,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44251,38,4,secundaria/superiores,0,-323,1,0,250,1623189600,1,...,1,0,0,1,0,0,0,1,0,0
44252,49,9,secundaria/superiores,0,1982,1,1,73,1629583200,15,...,0,0,1,0,0,1,0,1,0,0
44253,51,1,secundaria/superiores,0,794,1,0,747,1627077600,1,...,0,1,0,0,1,0,0,1,0,0
44254,29,1,universitarios,0,98,0,0,170,1628546400,2,...,0,0,1,0,0,1,0,1,0,0
44255,32,9,secundaria/superiores,0,321,1,0,156,1628632800,2,...,0,0,1,0,0,1,0,1,0,0

In [50]:
df["educacion"].value_counts()

secundaria/superiores    22713
universitarios           13025
priamaria                 6708
Name: educacion, dtype: int64

In [51]:
df["educacion"] = df["educacion"].replace("secundaria/superiores", 0)
df["educacion"] = df["educacion"].replace("universitarios", 1)
df["educacion"] = df["educacion"].replace("priamaria", 2)

In [52]:
df

,edad,trabajo,educacion,deuda,saldo,vivienda,prestamo,duracion,fecha_contacto,campaign,...,desconocido,fijo,movil,desconocido,fijo,movil,exito,nuevo_cliente,otro,sin_exito
0,40,1,0.0,0,580,1,0,192,1621116000,1,...,1,0,0,1,0,0,0,1,0,0
1,47,7,0.0,0,3644,0,0,83,1623189600,2,...,1,0,0,1,0,0,0,1,0,0
2,25,8,1.0,0,538,1,0,226,1618869600,1,...,0,0,1,0,0,1,0,1,0,0
3,42,4,1.0,0,1773,0,0,311,1617919200,1,...,0,0,1,0,0,1,0,0,0,1
4,56,4,1.0,0,217,0,1,121,1626818400,2,...,0,0,1,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44251,38,4,0.0,0,-323,1,0,250,1623189600,1,...,1,0,0,1,0,0,0,1,0,0
44252,49,9,0.0,0,1982,1,1,73,1629583200,15,...,0,0,1,0,0,1,0,1,0,0
44253,51,1,0.0,0,794,1,0,747,1627077600,1,...,0,1,0,0,1,0,0,1,0,0
44254,29,1,1.0,0,98,0,0,170,1628546400,2,...,0,0,1,0,0,1,0,1,0,0
44255,32,9,0.0,0,321,1,0,156,1628632800,2,...,0,0,1,0,0,1,0,1,0,0

In [53]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors = 3)

df_num_imp = imputer.fit_transform(df)

df_num_imp

array([[40.,  1.,  0., ...,  1.,  0.,  0.],
       [47.,  7.,  0., ...,  1.,  0.,  0.],
       [25.,  8.,  1., ...,  1.,  0.,  0.],
       ...,
       [51.,  1.,  0., ...,  1.,  0.,  0.],
       [29.,  1.,  1., ...,  1.,  0.,  0.],
       [32.,  9.,  0., ...,  1.,  0.,  0.]])

In [54]:

df_imp = pd.DataFrame(df_num_imp, columns = df.columns)

In [55]:
df.columns

Index(['edad', 'trabajo', 'educacion', 'deuda', 'saldo', 'vivienda',
       'prestamo', 'duracion', 'fecha_contacto', 'campaign',
       'tiempo_transcurrido', 'contactos_anteriores', 'target', 'contactado',
       'desconocido', 'fijo', 'movil', 'desconocido', 'fijo', 'movil', 'exito',
       'nuevo_cliente', 'otro', 'sin_exito'],
      dtype='object')

In [56]:
df_imp.columns

Index(['edad', 'trabajo', 'educacion', 'deuda', 'saldo', 'vivienda',
       'prestamo', 'duracion', 'fecha_contacto', 'campaign',
       'tiempo_transcurrido', 'contactos_anteriores', 'target', 'contactado',
       'desconocido', 'fijo', 'movil', 'desconocido', 'fijo', 'movil', 'exito',
       'nuevo_cliente', 'otro', 'sin_exito'],
      dtype='object')

In [58]:
df_imp

,edad,trabajo,educacion,deuda,saldo,vivienda,prestamo,duracion,fecha_contacto,campaign,...,desconocido,fijo,movil,desconocido,fijo,movil,exito,nuevo_cliente,otro,sin_exito
0,40.0,1.0,0.0,0.0,580.0,1.0,0.0,192.0,1.621116e+09,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,47.0,7.0,0.0,0.0,3644.0,0.0,0.0,83.0,1.623190e+09,2.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
2,25.0,8.0,1.0,0.0,538.0,1.0,0.0,226.0,1.618870e+09,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
3,42.0,4.0,1.0,0.0,1773.0,0.0,0.0,311.0,1.617919e+09,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,56.0,4.0,1.0,0.0,217.0,0.0,1.0,121.0,1.626818e+09,2.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44251,38.0,4.0,0.0,0.0,-323.0,1.0,0.0,250.0,1.623190e+09,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
44252,49.0,9.0,0.0,0.0,1982.0,1.0,1.0,73.0,1.629583e+09,15.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
44253,51.0,1.0,0.0,0.0,794.0,1.0,0.0,747.0,1.627078e+09,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
44254,29.0,1.0,1.0,0.0,98.0,0.0,0.0,170.0,1.628546e+09,2.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
44255,32.0,9.0,0.0,0.0,321.0,1.0,0.0,156.0,1.628633e+09,2.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [59]:
df_imp["educacion"] = df_imp["educacion"].apply(lambda x: round(x))

In [60]:
# df["educacion"] = df_imp["educacion"].replace((0.6666666666666666) , 1)
# df["educacion"] = df_imp["educacion"].replace(0.3333333333333333 , 0)
# df["educacion"] = df_imp["educacion"].replace(1.3333333333333333  , 1)
# df["educacion"] = df_imp["educacion"].replace(1.6666666666666667 , 2)

In [61]:
df_imp["educacion"] = df_imp["educacion"].replace(0, "secundaria/superiores")
df_imp["educacion"] = df_imp["educacion"].replace(1, "universitarios")
df_imp["educacion"] = df_imp["educacion"].replace(2, "primaria")

In [62]:
df_educacion = pd.get_dummies(df_imp["educacion"])
df_imp = pd.concat([df_imp, df_educacion], axis=1)
df_imp.drop("educacion", axis = 1,inplace=True)

In [63]:
df_imp

,edad,trabajo,deuda,saldo,vivienda,prestamo,duracion,fecha_contacto,campaign,tiempo_transcurrido,...,desconocido,fijo,movil,exito,nuevo_cliente,otro,sin_exito,primaria,secundaria/superiores,universitarios
0,40.0,1.0,0.0,580.0,1.0,0.0,192.0,1.621116e+09,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0,1,0
1,47.0,7.0,0.0,3644.0,0.0,0.0,83.0,1.623190e+09,2.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0,1,0
2,25.0,8.0,0.0,538.0,1.0,0.0,226.0,1.618870e+09,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0,0,1
3,42.0,4.0,0.0,1773.0,0.0,0.0,311.0,1.617919e+09,1.0,336.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0,0,1
4,56.0,4.0,0.0,217.0,0.0,1.0,121.0,1.626818e+09,2.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44251,38.0,4.0,0.0,-323.0,1.0,0.0,250.0,1.623190e+09,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0,1,0
44252,49.0,9.0,0.0,1982.0,1.0,1.0,73.0,1.629583e+09,15.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0,1,0
44253,51.0,1.0,0.0,794.0,1.0,0.0,747.0,1.627078e+09,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0,1,0
44254,29.0,1.0,0.0,98.0,0.0,0.0,170.0,1.628546e+09,2.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0,0,1
44255,32.0,9.0,0.0,321.0,1.0,0.0,156.0,1.628633e+09,2.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0,1,0

In [64]:
df_imp

,edad,trabajo,deuda,saldo,vivienda,prestamo,duracion,fecha_contacto,campaign,tiempo_transcurrido,...,desconocido,fijo,movil,exito,nuevo_cliente,otro,sin_exito,primaria,secundaria/superiores,universitarios
0,40.0,1.0,0.0,580.0,1.0,0.0,192.0,1.621116e+09,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0,1,0
1,47.0,7.0,0.0,3644.0,0.0,0.0,83.0,1.623190e+09,2.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0,1,0
2,25.0,8.0,0.0,538.0,1.0,0.0,226.0,1.618870e+09,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0,0,1
3,42.0,4.0,0.0,1773.0,0.0,0.0,311.0,1.617919e+09,1.0,336.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0,0,1
4,56.0,4.0,0.0,217.0,0.0,1.0,121.0,1.626818e+09,2.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44251,38.0,4.0,0.0,-323.0,1.0,0.0,250.0,1.623190e+09,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0,1,0
44252,49.0,9.0,0.0,1982.0,1.0,1.0,73.0,1.629583e+09,15.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0,1,0
44253,51.0,1.0,0.0,794.0,1.0,0.0,747.0,1.627078e+09,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0,1,0
44254,29.0,1.0,0.0,98.0,0.0,0.0,170.0,1.628546e+09,2.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0,0,1
44255,32.0,9.0,0.0,321.0,1.0,0.0,156.0,1.628633e+09,2.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0,1,0

In [65]:
df_imp.columns

Index(['edad', 'trabajo', 'deuda', 'saldo', 'vivienda', 'prestamo', 'duracion',
       'fecha_contacto', 'campaign', 'tiempo_transcurrido',
       'contactos_anteriores', 'target', 'contactado', 'desconocido', 'fijo',
       'movil', 'desconocido', 'fijo', 'movil', 'exito', 'nuevo_cliente',
       'otro', 'sin_exito', 'primaria', 'secundaria/superiores',
       'universitarios'],
      dtype='object')

In [69]:
from sklearn.preprocessing import MinMaxScaler
x_scaler = MinMaxScaler()
df = x_scaler.fit_transform(df_imp)

In [72]:
df = pd.DataFrame(df, columns = df_imp.columns)

In [73]:
df

,edad,trabajo,deuda,saldo,vivienda,prestamo,duracion,fecha_contacto,campaign,tiempo_transcurrido,...,desconocido,fijo,movil,exito,nuevo_cliente,otro,sin_exito,primaria,secundaria/superiores,universitarios
0,0.285714,0.090909,0.0,0.078069,1.0,0.0,0.039040,0.362001,0.000000,0.000000,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,0.376623,0.636364,0.0,0.105887,0.0,0.0,0.016877,0.428853,0.016129,0.000000,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,0.090909,0.727273,0.0,0.077688,1.0,0.0,0.045954,0.289578,0.000000,0.000000,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,0.311688,0.363636,0.0,0.088900,0.0,0.0,0.063237,0.258937,0.000000,0.385763,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,0.493506,0.363636,0.0,0.074773,0.0,1.0,0.024603,0.545845,0.016129,0.000000,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44251,0.259740,0.363636,0.0,0.069871,1.0,0.0,0.050834,0.428853,0.000000,0.000000,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
44252,0.402597,0.818182,0.0,0.090798,1.0,1.0,0.014843,0.634981,0.225806,0.000000,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
44253,0.428571,0.090909,0.0,0.080012,1.0,0.0,0.151891,0.554201,0.000000,0.000000,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
44254,0.142857,0.090909,0.0,0.073693,0.0,0.0,0.034567,0.601555,0.016129,0.000000,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
44255,0.181818,0.818182,0.0,0.075718,1.0,0.0,0.031720,0.604341,0.016129,0.000000,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [74]:
df_imp.to_csv("../resources/train_cleaned.csv")
df.to_csv("../resources/train_normalized.csv")

### EDA

In [ ]:
df["trabajo"].value_counts()

In [ ]:
sns.histplot(x = df["trabajo"])

In [ ]:
sns.histplot(x = df["estado_civil"])

In [ ]:
sns.boxplot(x = df["edad"])

In [ ]:
df[df["edad"]>90][:60]

In [ ]:
sns.kdeplot(x = df["edad"])

In [ ]:
sns.histplot(x = df["educacion"])

In [ ]:
sns.histplot(x = df["deuda"])

In [ ]:
sns.kdeplot(x = df["saldo"])

In [ ]:
sns.histplot(x = df["vivienda"])

In [ ]:
sns.histplot(x = df["prestamo"])

In [ ]:
sns.kdeplot(x = df["campaign"])

In [ ]:
df["tiempo_transcurrido"].value_counts()

In [ ]:
df[df["tiempo_transcurrido"]!= 0]

In [ ]:
sns.boxplot(x = df[df["tiempo_transcurrido"]!= 0]["tiempo_transcurrido"])

In [ ]:
df[df["tiempo_transcurrido"]!= 0]["tiempo_transcurrido"].std()

In [ ]:
df[df["tiempo_transcurrido"]!= 0]["tiempo_transcurrido"].describe()

In [ ]:
224.4866633736725 + (3.5*115.10812131382245)

In [ ]:
df[df["tiempo_transcurrido"]!= 0][df[df["tiempo_transcurrido"]!= 0]["tiempo_transcurrido"]>627]

In [ ]:
sns.kdeplot(x = df["tiempo_transcurrido"])

In [ ]:
sns.kdeplot(df["contactos_anteriores"])